@charset "UTF-8";

section#conteudo {
    width: 900px;
    margin: auto;
}

iframe#frame-spec {
    width: 473px;
    height: 353px;
    border: none;
    overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
    display: none;
}